
body { font: normal 100% Helvetica, Arial, sans-serif; }  
@media(min-device-width:375px){
	html{
		font-size: 18.75px;
	}
}
@media(min-device-width:414px){
	html{
		font-size: 20.7px;
	}
}
nav{
	background-color: transparent;
	height: 3.5rem;
}
#banner{
	background-color: rgba(0,0,0,0.2);
	height: 60rem;
}
header{
	background: rgba(0,0,0,0.4);
}
nav ul{
	list-style: none;
	margin: 0;
	float: right;
}
nav ul li ,nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}
ul{
	margin: 0;
}
nav ul li a{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}
.logo{
	float: left;
	padding: 5px;
}
#banner .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	color: white;
	top: 8rem;
}
#banner .inner h1{
	margin: 0;

}
.bu{
	border: none;
	background-color: #333;
	color: #eee;
	padding: 14px 40px;
}
#bu1{
	color: white;
	background: none;
}
#banner{
	padding: 14px 60px;
}
#banner .inner .more{
	margin-top: 20rem;
}
.sub-heading{
	line-height: 30px;
	margin: 30px;
}
.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}
.logo a{
	color: #fff;
}
.buttom_menu{
	position: fixed;
	color: white;
	top: 55rem;
	width: 100%;
	height: 6rem;
	z-index: 100;
	background-color: #000;
}
.buttom_menu .buttom_nav{
	float: left;
}
.buttom_menu .buttom_nav li{
	list-style: none;
	float: left;
	padding: 2.3rem;
	margin-left: 3rem;
}
.green-section .hr{
	background: #098E9F;
}
.green-section{
	text-align: center;
	background:#089DB0;
	color: #fff;
	padding: 100px 0;
}
.icon-group{
	margin-top: 60px;
}
.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}
.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
	width: 60%;
}
.sub-heading{
	font-size: 18px;
}
.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #0D6F7C;
	/*transform: rotate(45deg);*/
	margin: 20px;
}
.content .green-section .wrapper .icon-group i{
	padding: 20px;
}
.gray-section .img-section{
	width: 45%;
}
.img-section img
{
	width: 100%;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
p{
	font-size: 18px;
	letter-spacing: 1px;
}
.gray-section .text-section
{
	width: 55%;
}
.gray-section{
	background: #252f34;
	color: #fff;
}
.article-preview > div{
	float: left;
	font-size: 0;
}
.article-preview:after{
	content: '';
	display: block;
	clear: both;
}
.text-section{
	position: relative;
	top: 5em;
	left: 50px;
}
.text-section h2{
	margin-bottom: 20px;
}
.text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}
.text-section .sub-heading{
	font-size: 22px;
	margin-top: 0;
}
.sub-heading{
	line-height: 30px;
	margin: 30px 0;
}
.text-section > *{
	max-width: 90%;
}
.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.1);
}
.purple-section{
	padding: 80px;
	background: #3F3965;
	color: #fff;
}
.purple-section .heading-wrapper{
	text-align: center;
}
.purple-section .hr{
	background: #373259;
	width: 60%;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	/*border: 1px solid white;*/
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.card:first-child{
	background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background: rgba(0,0,0,0.24);
}


footer{
	margin-top: 18.5rem;
	background: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}
.share-group{
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 50px;
}
.share-group li
{
	display: inline-block;
	padding: 20px;
}

.copy{
	padding-bottom: 20px;
}

.main-wrapper{
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.music{
	position: absolute;
	display: block;
	width: 100%;
	height: 350px;
	background: rgba(0,0,0,0.3);
}
.music .m{
	padding: 250px 500px;
}
#btn{
	position: fixed;
	left: 88%;
	bottom: 20%;
	color: white;
	display: none;
}
#hui{
	display: none;
	font-size: 0.1em;
	text-decoration: none;
}
.il{
	display: block;
}


























